asgiref==3.8.1
certifi==2025.1.31
distlib==0.3.9
Django==5.1.7
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
filelock==3.18.0
packaging==24.2
pipenv==2024.4.1
platformdirs==4.3.7
psycopg2-binary==2.9.10
PyJWT==2.9.0
setuptools==77.0.3
sqlparse==0.5.3
tzdata==2025.1
virtualenv==20.29.3
python-dotenv==1.1.0
gunicorn

