.menu-item {
    /* padding: 10px; */
    transition: all 0.3s ease-in-out;
    font-size: 14px;
  }
  
  .menu-item:hover {
    font-size: 16px; 
    transition: all 0.3s ease-in-out;
  }
  
  .active-menu {
    /* background-color: gray; */
    color: blue;
    /* font-weight: bold; */
    /* border-radius: 5px; */
  }
   