
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main-content-wrapper {
  display: flex;
  flex: 1;
  /* padding-top: 60px; */
  margin-top: 60px;
  /* max-height:  calc(100vh - 70px); */
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; 
  transition: margin-left 0.3s ease;
  min-height: calc(100vh - 60px);
  overflow: auto;
  background-color: #F9FAFB;
}

.content-area.collapsed {
  margin-left: 60px;
}
