
   .home-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .home-content {
    padding: 2rem;
    border-radius: 10px;
  }
  
  .home-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .home-subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .auth-message p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .signin-btn {
    background-color: #008080; 
    color: white;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .signin-btn:hover {
    background-color: #006666; 
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .signin-btn:active {
    background-color: #004c4c; 
    transform: translateY(1px);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .signup-text {
    margin-top: 1rem;
    font-size: 1rem;
    color: black;
  }
  
  .signup-link {
    color: #008080;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-link:hover {
    text-decoration: underline;
    color: #006666; 
  }
  
   